.footer__nav-links {
    font-size: 18px;
    line-height: 24px;
    margin-right: 40px;
    color: #1A1B22;
}

.footer__nav-links:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 1279px) {
    .footer__nav-links {
        margin-right: 25px;
    }
    
    .footer__nav-links:last-of-type {
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .footer__nav-links {
        margin-right: 0;
        font-family: Source Sans Pro, Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    .footer__nav-links:last-of-type {
        margin-bottom: 0;
    }

}