@import url(./__preloader/in-progress__preloader.css);
@import url(./__text/in-progress__text.css);
@import url(./_hidden/in-progress_hidden.css);

.in-progress {
    background: #F5F6F7;
    padding: 76px 0 80px;
    color: #B6BCBF;
    
}