.digits__breadcrumbs {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin-bottom: 80px;
}

@media screen and (max-width: 1279px) {
    .digits__breadcrumbs {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 767px) {
    .digits__breadcrumbs {
        display: none;
    }
}