.search__title {
    font-family: Roboto Slab, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    margin: 80px auto 32px;
}

@media screen and (max-width: 1279px) {
    .search__title {
        font-size: 36px;
        line-height: 40px;
        margin: 40px 0 16px;
        max-width: 385px;
    }
}

@media screen and (max-width: 767px) {
    .search__title {
        margin-top: 30px;
    }
}