.technology__title {
    max-width: 344px;
    margin-right: 14%;
}

@media screen and (max-width: 1279px) {
    .technology__title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 767px) {
    .technology__title {
        font-size: 30px;
        line-height: 40px;
    }
}