.history__link {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #1A1B22;
}

.history__link::after {
    content: url(../../../images/arrow.svg);
    margin-left: 10px;
    height: 22px;
}

@media screen and (max-width: 767px) {
    .history__link {
        display: none;
    }
}