.results__title {
    margin: 0;
}

@media screen and (max-width: 998px) {
    .results__title {
        font-size: 30px;
        line-height: 34px;
    }
}

@media screen and (max-width: 767px) {
    .results__title {
        margin-bottom: 16px;
    }
}