@import url(./__image/card__image.css);
@import url(./__text-container/card__text-container.css);
@import url(./__date/card__date.css);
@import url(./__title/card__title.css);
@import url(./__text/card__text.css);
@import url(./__source/card__source.css);
@import url(./__article/card__article.css);
@import url(./__image-container/card__image-container.css);

.card {
    height: 576px;
    width: 400px;
    background: #fff;
    position: relative;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 0 58px rgba(8, 29, 45, 0.1);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .card {
        width: 224px;
        height: 420px;
    }
}

@media screen and (max-width: 767px) {
    .card {
        width: 288px;
        height: 446px;
    }
}
