.commit-card__author-avatar {
    width: 64px;
    height: 64px;
    background: url(../../../images/commit-author-avatar-1.jpg);
    background-size: cover;
    border-radius: 1000px;
    margin-right: 16px;
    
}

@media screen and (max-width: 1279px) {
    .commit-card__author-avatar {
        height: 48px;
        width: 48px;
    }
}

@media screen and (max-width: 767px) {
    .commit-card__author-avatar {
        height: 48px;
        min-width: 48px;
        width: 48px;
        margin-right: 12px;
    }
}