.search__form-error {
    /*color: #f80000;*/
    position: absolute;
    top: 62px;
    left: 24px;
    font-weight: bold;
    background: rgba(100, 100, 100, 0.5);
    border: 1px solid #fff;
    /*border-radius: 10px;
    left: 24px;*/
    width: 70%;
    font-family: Robobo, Arial, sans-serif;
    font-size: 20px;
    
}

@media screen and (max-width: 1279px) {
    .search__form-error {
        top: 52px;
        left: 20px;
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
    .search__form-error {
        top: 54px;
        width: 90%;
    }
}