.card__image-container {
    height: 272px;
}

@media screen and (max-width: 900px) {
    .card__image-container {
        height: 150px;
    }
}

@media screen and (max-width: 767px) {
    .card__image-container {
        height: 196px;
    }
}