.slider__control_direction_left {
    left: -40px;
    background-image: url(../../../../images/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-color:  #1A1B22;
}