.author__avatar {
    margin-right: 56px;
    height: 464px;
    width: 464px;
    border-radius: 100%;
}

@media screen and (max-width: 900px) {
    .author__avatar {
        height: 232px;
        width: 232px;
        margin-right: 32px;
        align-self: center;
    }
}

@media screen and (max-width: 767px) {
    .author__avatar {
        height: 272px;
        width: 272px;
        margin: 0 auto 24px;
        align-self: auto;
    }
}